.toggle{
    position: absolute;
    top: 50%;
    left: 85%;
    margin-left: -40px;
    width: 40px;
    height: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.toggle.inactive{
    left: 90%;
    margin-left: -70px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6A7D8E;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:  #2AC940;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #6A7D8E;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
}
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  @media only screen and (max-width: 700px) {
    .toggle{
        left: 85%;
        margin-left: -20px;
    }
    .toggle.inactive {
      left: 90%;
      margin-left: -20px;
    }
    
}